<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>Travel Buddy</title>
  </head>
  <body>
    <div class="travels_wrapper">
      <p>Hello, {{name}}</p>
      <a class="menu" href="/logout">Logout</a>
      <h4>Your trip Schedules</h4>
      <table class="trips_t">
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel end Date</th>
          <th>Plan</th>
        </tr>
          {% for trip in my_trips %}
          <tr>
            <td><a href="travels/destination/{{trip.id}}">{{trip.destination}}</a></td>
            <td>{{trip.start_DT}}</td>
            <td>{{trip.end_DT}}</td>
            <td>{{trip.description}}</td>
          </tr>
          {% endfor %}
      </table>
      <h4>Other User's Travel Plans</h4>
      <table class="trips_t">
        <tr>
          <th>Name</th>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel end Date</th>
          <th>Do You Want to Join?</th>
        </tr>
          {% for others in other_trips %}
          <tr>
            <td>{{others.name}}</td>
            <td><a href="travels/destination/{{others.trip_id}}">{{others.destination}}</a></td>
            <td>{{others.start_DT}}</td>
            <td>{{others.end_DT}}</td>
            <td><a href="jointravel/{{others.trip_id}}">Join</a></td>
          </tr>
          {% endfor %}
      </table>
      <a class="menu" href="/travels/add">Add Travel Plan</a>
      {% if messages %}
      {% for message in messages %}
      <p class="errors">{{message}}</p>
      {% endfor %}
      {% endif %}
    <div class="wrapper">
  </body>
</html>